* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: hsl(0, 0%, 8%);


}

.container {
    width: 400px;

    padding: 20px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    /* font-size: 14px; */
}

h3 {
    padding: 20px;
    color: white;
    font-size: 14px;

}

p {
    /* padding: 2rem; */
    color: hsl(75, 94%, 57%);
    font-size: 14px;
}

p {
    /* margin:0px; */
    padding: 2px;
    /* color: white; */
}

.para {
    color: white;
    margin: 10px;
    /* font-size: 14px; */
}



.avatar {
    margin: 0 auto;
    text-align: center;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* background-color: hsl(0, 0%, %); */
    color: hsl(0, 0%, 08%);
    font-size: 14px;
}

.card-body button {
    padding: 10px 25px;
    margin-bottom: 10px;
    border-radius: 6px;
    outline: none;
    background-color: hsl(0, 0%, 20%);
    /* color:grey; */
    /* font-size: 14px; */
    /* box: sizing 10px; */
    cursor: pointer;
}

.card-body button:hover {
    color: black;
}

button {
    background-color:hsl(0, 0%, 20%); 
    color: white;
}